
<article>
	<header>
		<h1>
			<span>pub.dartlang.org</span>
			<span>{{ build.name }}</span>
			<a ng-href="{{ build | pubLink }}" target="_blank">
				<i class="fa fa-external-link"></i>
				<span>View in Pub</span>
			</a>
		</h1>
	</header>
	<section>

		<div ng-switch="build.status" ng-if="build.finish !== undefined && build.finish !== 0">
			<div ng-switch-when="Success" class="success">success testing <span>{{ build.version }}</span> using <span>{{ build.channel }} {{ build.sdk }}</span> {{ build.finish | fromNow }}</div>
			<div ng-switch-when="Warning" class="warning">no tests found for <span>{{ build.version }}</span> using <span>{{ build.channel }} {{ build.sdk }}</span> {{ build.finish | fromNow }}</div>
			<div ng-switch-when="Failure" class="failure">failed testing <span>{{ build.version }}</span> using <span>{{ build.channel }} {{ build.sdk }}</span> {{ build.finish | fromNow }}</div>
			<div ng-switch-when="Error"   class="failure">error testing <span>{{ build.version }}</span> using <span>{{ build.channel }} {{ build.sdk }}</span> {{ build.finish | fromNow }}</div>
			<div ng-switch-when="Started" class="running">testing <span>{{ build.version }}</span> using <span>{{ build.channel }} {{ build.sdk }}</span></div>
			<div ng-switch-when="Pending" class="running">testing <span>{{ build.version }}</span> using <span>{{ build.channel }} {{ build.sdk }}</span></div>
		</div>

		<pre ng-if="build.finish !== undefined && build.finish != 0">{{ output }}</pre>
	</section>
</article>