
<article>
	<header>
		<h1>
			<span>pub.darltang.org</span>
			<span>{{ pkg.name }}</span>
			<a ng-href="{{ pkg | pubLink }}" target="_blank">
				<i class="fa fa-external-link"></i>
				<span>View in Pub</span>
			</a>
		</h1>
	</header>
	<section>
		
		<div ng-if="build.Finished !== undefined && build.Finished != 0">
			<div class="metadata">
				<dd>Author:</dd>
				<dt>{{ pkg.latest.pubspec.author }}</dt>
				<dd>Description:</dd>
				<dt>{{ pkg.latest.pubspec.description }}</dt>
				<dd>Started:</dd>
				<dt>{{ build.Started | fromNow }}</dt>
				<dd>Finished:</dd>
				<dt>{{ build.Finished | fromNow }}</dt>
				<dd>Duration:</dd>
				<dt>{{ build.Finished - build.Started | toDuration }}</dt>
			</div>
			<div ng-if="build.ExitCode==0" class="success">success testing version <a ng-href="{{ pkg | pubLink }}" target="_blank">{{ pkg.latest.version }}</a> about {{ build.Finished | fromNow }}</div>
			<div ng-if="build.ExitCode!=0" class="failure">failed testing version <a ng-href="{{ pkg | pubLink }}" target="_blank">{{ pkg.latest.version }}</a> about {{ build.Finished | fromNow }}</div>
		</div>

		<div ng-if="build.Started === undefined || build.Started  == 0">
			<div ng-if="build.Started !== undefined && build.Started != 0">
				<dd>Started:</dd>
				<dt>{{ build.Started | fromNow }}</dt>
			</div>
			<div class="running">Running</div>
		</div>

		<pre>{{ output }}</pre>
	</section>
</article>