

<article>
	<header>
		<h1>
			<i class="fa fa-rss"></i>
			<span>Recently Tested Dart Packages</span>
		</h1>
	</header>

	<section>
		<table>
			<thead>
				<tr>
					<th>Package</th>
					<th>Version</th>
					<th>Channel</th>
					<th>SDK</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="pkg in recent | limitTo: 50">
					<td>{{ pkg.name }}</td>
					<td>{{ pkg.version }}</td>
					<td>{{ pkg.channel }}</td>
					<td>{{ pkg.sdk }}</td>
					<td><a href="#/{{ pkg.name }}/{{ pkg.version }}/channel/{{ pkg.channel }}/sdk/{{ pkg.sdk }}">results</a></td>
				</tr>
			</tbody>
		</table>
	</section>
</article>
