

<article>
	<header>
		<h1>
			<i class="fa fa-rss"></i>
			<span>Recently Tested Dart Packages</span>
		</h1>
	</header>

	<section>
		<table>
			<thead>
				<tr>
					<th>Package</th>
					<th>Version</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="pkg in recent | limitTo: 50">
					<td><a href="#/{{ pkg.name }}/{{ pkg.latest.version }}">{{ pkg.name }}</a></td>
					<td>{{ pkg.latest.version }}</td>
					<td>{{ pkg.latest.pubspec.description }}</td>
				</tr>
			</tbody>
		</table>
	</section>
</article>
