

<article>
	<header>
		<h1>
			<i class="fa fa-rss"></i>
			<span>Recently Tested Dart Packages</span>
		</h1>
	</header>

	<section>
		<table>
			<thead>
				<tr>
					<th>Package</th>
					<th>Version</th>
					<th>Description</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="pkg in recent | limitTo: 50">
					<td>{{ pkg.name }}</td>
					<td>{{ pkg.number }}</td>
					<td>{{ pkg.desc }}</td>
					<td><a href="#/{{ pkg.name }}/{{ pkg.number }}/channel/stable">stable channel</a></td>
					<td><a href="#/{{ pkg.name }}/{{ pkg.number }}/channel/dev">dev channel</a></td>
				</tr>
			</tbody>
		</table>
	</section>
</article>
