<!doctype html>
<html ng-app="app" lang="en" itemscope itemtype="http://schema.org/Product">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="author" content="Brad Rydzewski">

		<meta name="viewport" content="width=device-width, user-scalable=no">
		<title>Drone testing for Dart's Pub packages</title>
		<meta itemprop="name" content="Drone testing for Dart's Pub packages">
		<meta itemprop="description" content="Automatic testing and verification of Dart's pub packages, using Drone's infrastructure.">

		<link rel="shortcut icon" href="/static/images/favicon.ico">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Orbitron">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css" />
		<link rel="stylesheet" href="/static/styles/style.css">

		<style>
			html, body {
				width:100%;
				height:100%;
			}
			body {
				background: url(/static/images/drone-dart-background.png) no-repeat 50% 100%; 
				content: ' ';
				background-repeat-x: no-repeat;
				background-color: #27282a;
				width: 100%;
				height: 100%;
				overflow: hidden;

				display: -webkit-box;
				display: -webkit-flex;
				display: -moz-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-webkit-align-items: center;
				-moz-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				-moz-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;

				/* hack because background is 12px off-centered */
				margin-left: 13px;
	    	}
	    	a {
				border: 2px solid rgba(255,255,255,0.8);
				border-radius: 0px;
				background: transparent;
				color: rgba(255,255,255,0.8);
				padding: 8px 20px;
				font-family: 'Open Sans';
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				margin-top: 40px;
				font-size: 13px;
				display:inline-block;
			}
			div {
				color:#FFF;
				text-align:center;
				margin-bottom: 14%;
			}
			h1, h2 {
				font-weight:normal;
				margin:0px;
				position:relative;
			}
			h1 {
				font-size:38px;
			}
			h2 {
				font-size: 24px;
				margin-top:25px;
			}
			small {
				font-size: 19px;
				opacity: 0.9;
				display:block;
			}
			span {
				display:block;
			}
			h1:before {
				background: url(/static/images/dart-logo.png) no-repeat;
				background-size: 40px;
				content: ' ';
				width: 40px;
				height: 40px;
				display: block;
				position: absolute;
				left: -60px;
				bottom: 3px;
			}
		</style>

	</head>
	<body>
		<div>
			<h1>
				<small>Automated testing for</small>
				<span>pub.dartlang.org</span>
			</h1>
			<h2>
				<small>a free service</small>
				<span>powered by drone.io</span>
			</h2>
			<a href="http://readme.drone.io/pub/overview/">Learn More</a>
		</div>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-56024722-1', 'auto');
			ga('send', 'pageview');
		</script>
	</body>
</html>
